ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 20%;    
}

li {
    float: left;
    display: block;
    color: #A87458;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;    
}

li:hover {    
    color: white;
    background-color: #84D2F6;
    cursor: pointer;
}

li:not(:first-child){
  border-left:1px solid #A87458;
}